/* Estilos generales para el cuerpo */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white; /* Fondo blanco */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

/* Estilos para el contenedor del logo */
#contenedorLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  gap: 15px;
  margin-right: 50px;
}

#logo {
  height: 80px;
  width: auto;
}

.TyG {
  font-size: 34px;
  font-weight: bolder;
  color: #f7a8e0;
  margin: 0;
}

/* Estilos para el formulario */
fieldset {
  border-radius: 10px;
  border: 2px solid #f7a8e0;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para los inputs y textarea */
input,
textarea {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #f7a8e0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

textarea {
  height: 80px;
  resize: none;
}

/* Ajuste para el checkbox y su alineación */
#recordar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

#recordar input {
  width: auto;
}

/* Estilos para el botón */
button {
  margin-top: 20px;
  background-color: #f7a8e0;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e580ce;
}
