body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.seccion-carrusel {
  flex: 3;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(100% * 4);
  height: 100%;
}

.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.texto-carrusel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 8px;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f7a8e0;
  border: none;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 3;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:hover {
  background-color: #e580ce;
}

.welcome {
  flex: 1;
  background-color: #f7a8e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.welcome h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

button#iniciarSesion,
button#crearSesion {
  background-color: #fff;
  color: #f7a8e0;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #f7a8e0;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover para los botones */
button#iniciarSesion:hover,
button#crearSesion:hover {
  background-color: #f7a8e0;
  color: white;
}
a {
  text-decoration: none;
}

a:hover {
  color: aliceblue;
}
