body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 70px; /* Asegúrate de que la altura sea constante */
  padding: 0 20px;
  background-color: #f7a8e0; /* Rosa pastel */
  display: flex;
  justify-content: space-between; /* Alinea el logo y los enlaces */
  align-items: center; /* Centra verticalmente */
  gap: 20px;
  border-bottom: 1.5px solid black;
  position: fixed; /* Para que el nav esté siempre en la parte superior */
  top: 0;
  left: 0;
  z-index: 1000; /* Para asegurarse de que el nav se quede encima del contenido */
}

#contenedorLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

#logo {
  height: 60px; /* Tamaño constante para el logo */
  width: auto;
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #f7a8e0;
  margin-top: 10px;
}

fieldset {
  border-radius: 10px;
  border: 2px solid #f7a8e0;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  background-color: #f7a8e0;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e580ce;
}

#terminos {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  gap: 5px;
}
