body {
  line-height: 1.6;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#contenedorLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

#logo {
  height: 60px;
  width: auto;
}
.forminp:invalid {
  border-color: red;
}
.forminp:valid {
  border-color: green;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #f7a8e0;
  margin-top: 10px;
}

fieldset {
  border-radius: 10px;
  border: 2px solid #f7a8e0;
  padding: 20px;
  width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  color: #333;
}

.forminp {
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  margin-top: 20px;
  margin-left: 85px;
  background-color: #f7a8e0;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e580ce;
}
